<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image': titleImageSrc}" class="example-header-image"></div>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{imageSrc}}" alt="Photo of a dog">
  <mat-card-content>

    <ng-content></ng-content>

    <button mat-button color="primary" (click)="toggleMoreInfo()">More Info</button>

    <ng-container *ngIf="showMoreInfo">
      <ng-content select=".more-info"></ng-content>
    </ng-container>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="likeClicked(title)">LIKE</button>
    <button mat-button (click)="shareClicked(title)">SHARE</button>
  </mat-card-actions>
</mat-card>