:host {
  padding: .5em;
}

.example-card {
  max-width: 400px;
  min-width: 250px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
