<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image': titleImageSrc}" class="example-header-image"></div>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{imageSrc}}" alt="Photo of a dog">
  <mat-card-content>
    <p>
      <ng-content></ng-content>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="likeClicked(title)">LIKE</button>
    <button mat-button (click)="shareClicked(title)">SHARE</button>
  </mat-card-actions>
</mat-card>